@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-2 {
    @apply border-black;
  }
}

*::selection {
  background: #3f3f3f;
  color: #f3f3f3;
}

body {
  background-color: #F3F3F3;
}
